h1= title

#opening
  p
    input#start(type='button', value='Click or Enter to Start!!')
#playing
  p
    #you
    #word
    #others
  p input above: 
    input#input(type='text')
    span#count
    input#next(type='button', value='next?')
#debug
