@show_font: 32px "Courier New";

body {
  padding: 50px;
  font: 14px "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
}
h1 {
  text-align: center;
}
#you {
  color: red;
  font: @show_font;
}
.others {
  color: blue;
  font: @show_font;
}
#word {
  font: @show_font;
}
#next {
  display: none;
}
#clientCount {
  text-align: center;
}
#playing {
  text-align: center;
  display: none;
}
#opening { 
  text-align: center;
}
#start {
  border: medium #c9c9c9 dotted;
  height: 64px;
  width: 480px;
}
#input {
  ime-mode: disabled;
}

